*{
	margin: 0;
	height: 10;
}
html{
	background : url('https://scontent.fhan3-1.fna.fbcdn.net/v/t39.30808-6/p843x403/272653891_1188541838219329_2255237287744230128_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=va__36aMsHgAX8QmACL&_nc_ht=scontent.fhan3-1.fna&oh=00_AT9Cst_mrbvW_wMFUiYN3KZ7UsJNr_kxd6myUq9F0oCJ9w&oe=6214DE71');
}
div{
 	color: #fdcb6e;
 	text-align: center;
}
input{
	color: #e84393;
}
h2{
	color : #fab1a0 ;
	font-family: monospace ;
	font-size: 40px;
}
.logo{
	max-width: 40px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	padding-top : 5px
}	