*{
	margin: 0;
	height: 10;
}
html{
	background : url('img/background1.png');
	background-repeat: no-repeat;
	background-size: 1800px;
}
h2{
	color : #fab1a0 ;
	font-family: arial ;
	font-size: 40px;
}
.logo{
	max-width: 40px;
	padding-top : 5px;
}
nav{
	width :400px;
	margin : 0 auto;
	height :45px;
	padding-top : 25px;
}
nav>div>ul{
	list-style: none;
}
nav>div>ul>li{
	float : left;
	line-height: 35px;
	padding : 0 30px
}

